

:root {
  --primary-color: #656565;
  --primray-color-dark: grey;
  --secondary-color: #823738;

}


* {
  margin: 0px;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #656565;
}


a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.main-page {
  margin-top: 80px;
  width: 100vw;
  /* height: calc(100vh - 60px); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.card-container {
  width: 100vw;
  gap: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-hide {
  top: -350px;
  transition: all 0.3s ease-in-out;
  display: hidden;
}

.search-show {
top: 50;
transition: all 0.3s ease-in-out;
}


.nav-btn {
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: none; 
}

.menu-show {
  right: 0;
  transition: all 0.3s ease-in-out;
}

.menu-hide {
  right: -350px;
  transition: all 0.3s ease-in-out;
}

.search-container {
  margin-bottom: -100px;
}

/* Product Screen */

.product-image {
  width: 15%;
  object-fit: cover;
}


.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: center;
  padding: 20px 200px 0px 200px;
}


/* Auth Screen */

.form-container {
  background-color: white;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  gap: 10px;
  border: solid black 5px;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submit-btn {
  height: 2rem;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;
}

.submit-btn:hover {
  background-color: #656565;
  color: white;
  cursor: pointer;
  transition: .4s;

}

.link-btn {
  border: none;
  background-color: transparent;
}

.link-btn:hover {
  text-decoration: underline;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 600px){
  .auth-form-container {
    padding: 5rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5rem;
  }
  }

  label {
    text-align: left;
    padding: 0.25rem 0;
  }

  .user-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  hr {
    color: black;
  }


  .white-large-font {
    color: white;
    font-size: xx-large;
  }

  .welcome-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }